<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoler.grape.dao.mapper.PatientInfoMapper">
    <resultMap id="BaseResultMap" type="com.yoler.grape.entity.PatientInfo">
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="SEX" jdbcType="VARCHAR" property="sex"/>
        <result column="AGE" jdbcType="INTEGER" property="age"/>
        <result column="BIRTHDAY" jdbcType="DATE" property="birthday"/>
        <result column="ZODIAC" jdbcType="VARCHAR" property="zodiac"/>
        <result column="INTRODUCER" jdbcType="VARCHAR" property="introducer"/>
    </resultMap>
    <sql id="Base_Column_List">
        NAME, SEX, AGE, BIRTHDAY, ZODIAC,INTRODUCER
    </sql>

    <resultMap id="PatientByDateResult" type="com.yoler.grape.vo.PatientByDateVo">
        <result column="visiting_date" jdbcType="VARCHAR" property="visitingDate"/>
        <result column="patient_info_id" jdbcType="VARCHAR" property="patientInfoId"/>
        <result column="patient_condition_id" jdbcType="VARCHAR" property="patientConditionId"/>
        <result column="name" jdbcType="VARCHAR" property="patientName"/>
    </resultMap>

    <resultMap id="PatientByNameResult" type="com.yoler.grape.vo.PatientByNameVo">
        <result column="id" jdbcType="VARCHAR" property="patientId"/>
        <result column="name" jdbcType="VARCHAR" property="patientName"/>
    </resultMap>

    <select id="getPatientByDate" parameterType="java.util.Map" resultMap="PatientByDateResult">
        SELECT
        s.visiting_date,
        s.patient_info_id,
        s.id patient_condition_id,
        t.name
        FROM Patient_Info t, Patient_Condition s
        WHERE t.id = s.patient_info_id
        <if test="queryStartDate != null">
            and s.visiting_date &gt;= #{queryStartDate}
        </if>
        <if test="queryEndDate != null">
            and s.visiting_date &lt;= #{queryEndDate}
        </if>
        ORDER BY s.visiting_date DESC;
    </select>

    <select id="getPatientByName" parameterType="java.lang.String" resultMap="PatientByDateResult">
        select t.id,t.name
        from Patient_Info t
        where t.id = #{patientName};
    </select>
</mapper>