<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1 user-scalable=no">
    <title>健康预约</title>
    <link rel="stylesheet" type="text/css" th:href="@{/mzui/css/mzui.min.css}"/>
</head>
<body>
<div class="container display fade in center-content">
    <div class="heading text-danger">
        <i class="icon-times"></i>
        <div class="title text-center"><strong>挂号失败，请重试！</strong></div>
    </div>
</div>
</body>
</html>