<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1 user-scalable=no">
    <title>健康预约</title>
    <link rel="stylesheet" type="text/css" th:href="@{/mzui/css/mzui.min.css}"/>
    <script type="text/javascript" th:src="@{/jquery/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/dataTables/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/dataTables/js/dataTables.bootstrap.min.js}"></script>
</head>
<body>

<div class="container display fade in">
    <div class="box">
        <div class="control">
            <div class="select">
                <select name="intentionDate" id="intentionDate">
                    <option disabled style="display: none" selected>请选择查看日期</option>
                    <option th:each="intentionDateAndWeek : ${intentionDateAndWeekList}"
                            th:value="${intentionDateAndWeek.intentionDate}"
                            th:text="${intentionDateAndWeek.intentionDate}"></option>
                </select>
            </div>
        </div>

        <div class="control">
            <table class="table striped" id="table-register-detail">
                <thead>
                <tr class="text-primary">
<!--                    <th>就诊日期</th>-->
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>手机号</th>
                    <th>介绍人</th>
                    <th>初/复诊</th>
                </tr>
                </thead>
                <tbody>
                <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#table-register-detail').dataTable({
            "jQueryUI": false,
            "autoWidth": false,
            "info": false,
            "ordering": false,
            "paging": false,
            "searching": false,
            "lengthChange": false,
            "scrollX": false,
            "language": {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            }
        });
    })

    $("select#intentionDate").change(function () {
        var url = "/grape/console/getRegisterDetail";
        var intentionDate = $(this).val();
        $.ajax(
            {
                url: url,
                type: "post",
                data: intentionDate,
                success: function (data) {
                    var obj = $.parseJSON(data);
                    var table = $('#table-register-detail');
                    table.dataTable().fnClearTable();
                    table.dataTable().fnAddData(packageDatatableData(obj), true);
                },
                error: function () {
                    alert("获取数据失败");
                }
            }
        );
    });

    function packageDatatableData(data) {
        var result = new Array();
        var registerList = data.content;
        for (var i = 0; i < registerList.length; i++) {
            var datatableRowData = new Array();
            // datatableRowData.push(registerList[i].intentionDate);
            datatableRowData.push(registerList[i].patientName);
            datatableRowData.push(registerList[i].patientSex);
            datatableRowData.push(registerList[i].patientAge);
            datatableRowData.push(registerList[i].patientPhone);
            datatableRowData.push(registerList[i].patientIntro);
            datatableRowData.push(registerList[i].firstFlag);
            result.push(datatableRowData);
        }
        return result;
    }


</script>
</body>
</html>