<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1 user-scalable=no">
    <title>健康预约</title>
    <link rel="stylesheet" type="text/css" th:href="@{/mzui/css/mzui.min.css}"/>
</head>
<body>

<div class="container display fade in">
    <form action="/grape/console/registerResult" method="post">
        <div class="control">
            <label>就诊日期(必选)*</label>
            <div class="control flex">
<!--                <div class="radio input">-->
<!--                    <input type="radio" checked="" name="intentionDate" th:value="${thisWeekTuesdayDate}">-->
<!--                    <label th:text="${thisWeekTuesdayDate}"></label>-->
<!--                </div>-->
                <div class="radio input">
                    <input type="radio" name="intentionDate" th:value="${thisWeekThursdayDate}">
                    <label th:text="${thisWeekThursdayDate}"></label>
                </div>
                <div class="radio input">
                    <input type="radio" name="intentionDate" th:value="${thisWeekSundayDate}">
                    <label th:text="${thisWeekSundayDate}"></label>
                </div>
            </div>
        </div>

        <div class="control">
            <label>姓名(必填)*</label>
            <input name="patientName" type="text" class="input" placeholder="请填写2~20个字(必填)" required>
        </div>

        <div class="control">
            <label>性别(必选)*</label>
            <div class="control flex">
                <div class="radio input">
                    <input type="radio" checked="" name="patientSex" value="1">
                    <label>男</label>
                </div>
                <div class="radio input">
                    <input type="radio" name="patientSex" value="2">
                    <label>女</label>
                </div>
            </div>
        </div>

        <div class="control">
            <label>年龄(必填)</label>
            <input name="patientAge" type="text" class="input" placeholder="请输入您的年龄" required>
        </div>

        <div class="control">
            <label>手机号(必填)*</label>
            <input name="patientPhone" type="text" class="input" placeholder="请输入11位手机号(必填)" required>
        </div>

        <div class="control">
            <label>介绍人(选填)</label>
            <input name="patientIntro" type="text" class="input" placeholder="请输入哪位介绍的">
        </div>

        <div class="control flex">
            <div class="radio input">
                <input type="radio" checked="" name="firstFlag" value="1">
                <label>初诊</label>
            </div>
            <div class="radio input">
                <input type="radio" name="firstFlag" value="2">
                <label>复诊</label>
            </div>
        </div>

        <div class="control">
            <button type="submit" class="btn block primary">确认挂号</button>
        </div>
    </form>
</div>

</body>
</html>