<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">

    <description>Spring Configuration</description>

    <!-- 通过component-scan 让Spring扫描com.yoler.grape.controller下的所有的类，让Spring的代码注解生效 -->
    <context:component-scan base-package="com.yoler.grape.controller"></context:component-scan>
    <context:component-scan base-package="com.yoler.grape.service.*.impl">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
    </context:component-scan>
    <context:component-scan base-package="com.yoler.grape.service">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
    </context:component-scan>


    <!-- 引入jdbc配置文件 -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:properties/jdbc.properties</value>
            </list>
        </property>
    </bean>
    <!--import ORM-->
    <import resource="classpath*:conf/spring-mybatis.xml"/>

    <aop:config proxy-target-class="true"/>

</beans>